{% extends "base.html" %}

{% block content %}
    {% set prof_list = ["инженер-исследователь", "пилот", "строитель", "экзобиолог", "врач",
        "инженер по терраформированию", "климатолог", "специалист по радиационной защите", "астрогеолог",
        "гляциолог", "инженер жизнеобеспечения", "метеоролог", "оператор марсохода", "киберинженер", "штурман",
        "пилот дронов"] %}
    <h2>Список профессий</h2>
    {% if list_type == "ol" %}
        <ol class="lh-1">
            {% for prof in prof_list %}
                <li>{{prof}}</li>
            {% endfor %}
        </ol>
    {% else %}
        <ul class="lh-1">
            {% for prof in prof_list %}
                <li>{{prof}}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}